In [1]:
# ライブラリを読み込む
import pandas as pd
import numpy as np
from sklearn import *
import os, glob

C:\Users\oakiyama\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\oakiyama\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
C:\Users\oakiyama\Anaconda3\lib\site-packages\sklearn\learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [2]:
# データを読み込む
datafiles = sorted(glob.glob('../Winput2/**.csv')) # 全データのパスを取得
# 全データをpd.Dataframeとして読み込んでdictionaryにまとめる
datafiles = {os.path.basename(file)[:-4]: pd.read_csv(file, encoding='latin-1') for file in datafiles}

In [3]:
# 全データをリストアップ
for i, key in enumerate(datafiles):
    print(i, key)

0 WTeamSpellings
1 WGameCities
2 WTeams
3 WCities
4 WNCAATourneyDetailedResults
5 WNCAATourneySeeds
6 WRegularSeasonCompactResults
7 WRegularSeasonDetailedResults
8 WNCAATourneySlots
9 WSampleSubmissionStage2
10 WSeasons
11 WNCAATourneyCompactResults

In [4]:
df_seeds = datafiles['WNCAATourneySeeds']
df_seeds.tail()

      Season Seed  TeamID
1339    2018  Z12    3195
1340    2018  Z13    3211
1341    2018  Z14    3251
1342    2018  Z15    3212
1343    2018  Z16    3129

In [6]:
df_spell =  datafiles['WTeamSpellings']
df_spell.tail()

     TeamNameSpelling  TeamID
993              yale    3463
994     youngstown st    3464
995    youngstown st.    3464
996  youngstown state    3464
997  youngstown-state    3464

In [7]:
df_seeds = pd.merge(df_seeds, df_spell, how='left', on =['TeamID'])
df_seeds.tail()

      Season Seed  TeamID TeamNameSpelling
3212    2018  Z15    3212  grambling-state
3213    2018  Z16    3129         boise st
3214    2018  Z16    3129        boise st.
3215    2018  Z16    3129      boise state
3216    2018  Z16    3129      boise-state

In [9]:
df_seeds.to_csv("../additional/WBlock.csv", index = None)